<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'style1.css' %}">
</head>
<body>
    <div class="container1">
        <h1>Add Member</h1><hr>
        <form action="{% url 'addrec' %}" method="post">
            {% csrf_token %}
            <label for="">First Name</label><br><br>
            <input class="input-text" type="text" name="first"><br><br>
            <label for="">Last Name</label><br><br>
            <input class="input-text" type="text" name="last"><br><br>
            <label for="">Country</label><br><br>
            <input class="input-text" type="text" name="country"><br>
            <button type="submit" id="news">Submit</button>
        </form>
    </div>
</body>
</html>